@use './mixin';
@use './animations' as animations;
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Itim&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Yuji+Boku&family=Zen+Kurenaido&display=swap');


body {
    position: relative;
    color: mixin.$base;
    width: 100%;
    height: 100vh;
    // font-family: "Yuji Boku", serif;
    overflow: hidden;

    .cover {
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        animation-name: fade;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-delay: 3s;
        animation-fill-mode: forwards;

        @include mixin.md {
            display: none;
        }
    }

    .slogan {
        position: fixed;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        z-index: 2;
        padding: 2rem;
        gap: 1rem;
        font-family: "Yuji Boku", serif;

        &.type1 {
            opacity: 0;
            animation-name: fade;
            animation-duration: 1.5s;
            animation-timing-function: ease-in-out;
            animation-delay: 5s;
            animation-fill-mode: forwards;
        }

        &.type2 {
            opacity: 0;
            animation-name: fade;
            animation-duration: 1.5s;
            animation-timing-function: ease-in-out;
            animation-delay: 1s;
            animation-fill-mode: forwards;
        }

        @include mixin.md {
            inset: 0;
            justify-content: center;
            align-items: center;
            pointer-events: none;
            z-index: 50;
        }

        p {
            font-size: clamp(1.4rem, 9vw, 4rem);

            @include mixin.md {
                display: flex;
                flex-direction: column;
            }
        }


        .en-slogan {
            font-family: 'Times New Roman', Times, serif;

            @include mixin.md {
                display: none;
            }
        }


    }


    .main {
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @include mixin.md {
            grid-template-columns: 1fr;
        }


    }


    .item1 {
        height: 100vh;
        overflow: hidden;

        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            animation: fade 1.5s ease-in-out;
            // animation: slowMove 60s linear 1.5s infinite;


        }



        @include mixin.md {
            display: none;
        }
    }


    .item2 {
        height: 100vh;
        overflow: hidden;

        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            opacity: 0;
            animation-name: fade;
            animation-duration: 1.5s;
            animation-timing-function: ease-in-out;
            animation-delay: 1s;
            animation-fill-mode: forwards;



        }

        @include mixin.md {
            display: none;
        }
    }

    .item3 {
        height: 100vh;
        overflow: hidden;

        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            opacity: 0;
            animation-name: fade;
            animation-duration: 1.5s;
            animation-timing-function: ease-in-out;
            animation-delay: 2s;
            animation-fill-mode: forwards;


        }

        @include mixin.md {
            display: none;
        }

    }

    .loadingWrap {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #d4caca;

        .loadingBar {
            width: 256px;
            height: 8px;
            background-color: rgb(70, 50, 50);
            margin-top: 16px;

            .progress {
                height: 8px;
                background-color: rgb(70, 50, 50);
            }
        }


    }


}